/*
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Patrick Hand", cursive;
}

.header-logo {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  color: #003366; /* ロゴの色 */ /*
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.diagonal-background {
  position: relative;
  overflow: hidden;
  height: 400px; /* お好みの高さに調整してください */ /*
}

.diagonal-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom right, #66b2ff 50%, white 50%);
  transform: rotate(-10deg);
  transform-origin: top left;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.bg-hero-pattern {
  background-image: url("/rfy-vb_office12.jpg");
  background-size: cover;
  background-position: center;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Patrick+Hand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Patrick Hand", cursive;
}

.header-logo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: #003366; /* ロゴの色 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.diagonal-background {
  position: relative;
  overflow: hidden;
  height: 400px; /* お好みの高さに調整してください */
}

.diagonal-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom right, #66b2ff 50%, white 50%);
  transform: rotate(-10deg);
  transform-origin: top left;
}

.bg-hero-pattern {
  background-image: url("/rfy-vb_office12.jpg");
  background-size: cover;
  background-position: center;
}

.bg-sidebar-pattern {
  background-image: url("/office.jpg"); /* 背景画像のパス */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* カスタムフォントクラスの追加 */
.font-dancing {
  font-family: "Dancing Script", cursive !important;
}

.font-patrick {
  font-family: "Patrick Hand", cursive !important;
}
.input-with-icon-1 {
  background-image: url('/signup/office.png');
  background-repeat: no-repeat;
  background-position: left center; /* 位置調整 */
  background-size: 30px; /* アイコンサイズ調整 */
  padding-left: 30px; /* アイコンに合わせたパディング調整 */
  background-color: white; /* または背景色を指定しない */
}
.input-with-icon-2 {
  background-image: url('/signup/person.png');
  background-repeat: no-repeat;
  background-position: left center; /* 位置調整 */
  background-size: 30px; /* アイコンサイズ調整 */
  padding-left: 30px; /* アイコンに合わせたパディング調整 */
  background-color: white; /* または背景色を指定しない */
}
.input-with-icon-3 {
  background-image: url('/signup/mail.png');
  background-repeat: no-repeat;
  background-position: left center; /* 位置調整 */
  background-size: 30px; /* アイコンサイズ調整 */
  padding-left: 30px; /* アイコンに合わせたパディング調整 */
  background-color: white; /* または背景色を指定しない */
}
.input-with-icon-4 {
  background-image: url('/signup/key.png');
  background-repeat: no-repeat;
  background-position: left center; /* 位置調整 */
  background-size: 30px; /* アイコンサイズ調整 */
  padding-left: 30px; /* アイコンに合わせたパディング調整 */
  background-color: white; /* または背景色を指定しない */
}
